<a href="https://colab.research.google.com/github/OleksandraRyzhova0502/Lab_k13-2/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('train.csv', keep_default_na=False, na_filter=False)
df_test = pd.read_csv('test.csv', keep_default_na=False, na_filter=False)

In [ ]:
for i in range(len(df.index)):
    if df.loc[i,'Condition1'] == df.loc[i,'Condition2']:
        df.loc[i, 'Condition2'] = 0
for j in range(len(df_test.index)):
    if df_test.loc[j,'Condition1'] == df_test.loc[j,'Condition2']:
        df_test.loc[j, 'Condition2'] = 0

In [ ]:
lst_title = ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 
             'BldgType', 'HouseStyle', 'MiscFeature', 'SaleType', 'SaleCondition', 'Fence', 'PoolQC', 'PavedDrive',
             'GarageCond', 'GarageQual', 'GarageFinish', 'GarageType', 'FireplaceQu', 'Functional', 'KitchenQual',
             'Electrical', 'CentralAir', 'HeatingQC', 'Heating', 'BsmtFinType2', 'BsmtFinType1', 'BsmtExposure',
             'BsmtCond', 'BsmtQual', 'Foundation', 'ExterCond', 'ExterQual', 'MasVnrType', 'HouseStyle', 'BldgType', 
             'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'Condition2', 'Condition1']
lst_dict_to_num = [{'A': 6, 'C': 8,'C (all)': 8, 'FV': 1, 'I': 7, 'RH': 2, 'RL': 4, 'RP': 5, 'RM': 3},
                   {'Grvl': 0, 'Pave': 1}, {'Grvl': 1, 'Pave': 2, 'NA': 0, }, {'Reg': 4, 'IR1': 3, 'IR2': 2, 'IR3': 1},
                   {'Lvl': 4, 'Bnk': 1, 'HLS': 2, 'Low': 3}, {'AllPub': 4, 'NoSewr': 3, 'NoSeWa': 2, 'ELO': 1},
                   {'Inside': 1, 'Corner': 4, 'CulDSac': 3, 'FR2': 4, 'FR3': 2}, {'Gtl': 3, 'Mod': 2, 'Sev': 1}, 
                   {'1Fam': 5, '2FmCon': 4, 'Duplx': 3, 'TwnhsE': 2, 'TwnhsI': 1},
                   {'1Story': 1, '1.5Fin': 2, '1.5Unf': 3, '2Story': 4, '2.5Fin': 5, '2.5Unf': 6, 'SFoyer': 7,
                    'SLvl': 8}, {'Elev': 1, 'Gar2': 1, 'Othr': 1, 'Shed': 1, 'TenC': 1, 'NA': 0},
                   {'WD': 11, 'CWD': 10, 'VWD': 8, 'New': 7, 'COD': 6, 'Con': 5, 'ConLw': 4, 'ConLI': 3, 'ConLD': 2,
                    'Oth': 1}, {'Normal': 6, 'Abnorml': 5, 'AdjLand': 4, 'Alloca': 3, 'Family': 2, 'Partial': 1},
                   {'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1, 'NA': 0},
                   {'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1, 'NA': 0}, {'Y': 3, 'P': 2, 'N': 1},
                   {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
                   {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0}, {'Fin': 3, 'RFn': 2, 'Unf': 1, 'NA': 0},
                   {'2Types': 6, 'Attchd': 3, 'Basment': 4, 'BuiltIn': 5, 'CarPort': 1, 'Detchd': 2, 'NA': 0},
                   {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
                   {'Typ': 8, 'Min1': 7, 'Min2': 6, 'Mod': 5, 'Maj1': 4, 'Maj2': 3, 'Sev': 2, 'Sal': 1},
                   {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1},
                   {'SBrkr': 5, 'FuseA': 3, 'FuseF': 2, 'FuseP': 1, 'Mix': 4},
                   {'N': 2, 'Y': 1}, {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1},
                   {'Floor': 1, 'GasA': 6, 'GasW': 5, 'Grav': 3, 'OthW': 4, 'Wall': 2},
                   {'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0},
                   {'GLQ': 6, 'ALQ': 5, 'BLQ': 4, 'Rec': 3, 'LwQ': 2, 'Unf': 1, 'NA': 0},
                   {'Gd': 4, 'Av': 3, 'Mn': 2, 'No': 1, 'NA': 0}, {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
                   {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, 'NA': 0},
                   {'BrkTil': 6, 'CBlock': 5, 'PConc': 4, 'Slab': 3, 'Stone': 2, 'Wood': 1},
                   {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1}, {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1},
                   {'BrkCmn': 2, 'BrkFace': 3, 'CBlock': 1, 'None': 0, 'Stone': 4},
                   {'1Story': 8, '1.5Fin': 7, '1.5Unf': 6, '2Story': 5, '2.5Fin': 4, '2.5Unf': 3, 'SFoyer': 2, 'SLvl': 1},
                   {'1Fam': 5, '2FmCon': 4, 'Duplx': 3, 'TwnhsE': 2, 'TwnhsI': 1},
                   {'Flat': 6, 'Gable': 3, 'Gambrel': 2, 'Hip': 4, 'Mansard': 5, 'Shed': 1},
                   {'ClyTile': 3, 'CompShg': 6, 'Membran': 8, 'Metal': 7, 'Roll': 5, 'Tar&Grv': 4, 'WdShake': 1, 'WdShngl': 2},
                   {'AsbShng': 7, 'AsphShn': 6, 'BrkComm': 12, 'BrkFace': 3, 'CBlock': 11, 'CemntBd': 13, 'HdBoard': 15, 'ImStucc': 10, 
                    'MetalSd': 9, 'Other': 17, 'Plywood': 16, 'PreCast': 14, 'Stone': 1, 'Stucco': 5, 'VinylSd': 8, 'Wd Sdng': 2, 'WdShing': 4}, 
                   {'AsbShng': 7, 'AsphShn': 6, 'BrkComm': 12, 'BrkFace': 3, 'CBlock': 11, 'CemntBd': 13, 'HdBoard': 15, 'ImStucc': 10, 
                    'MetalSd': 9, 'Other': 17, 'Plywood': 16, 'PreCast': 14, 'Stone': 1, 'Stucco': 5, 'VinylSd': 8, 'Wd Sdng': 2, 'WdShing': 4},
                   {'Artery': 2, 'Feedr': 1, 'Norm': 0, 'RRNn': -1, 'RRAn': -2, 'PosN': 2, 'PosA': 1, 'RRNe': -1, 'RRAe': -2},
                   {'Artery': 2, 'Feedr': 1, 'Norm': 0, 'RRNn': -1, 'RRAn': -2, 'PosN': 2, 'PosA': 1, 'RRNe': -1, 'RRAe': -2}]

In [ ]:
#str to num
for column in df:
    for i in range(len(lst_title)):
        if column == lst_title[i]:
            df[lst_title[i]] = df[lst_title[i]].map(lst_dict_to_num[i])
for column in df_test:
    for i in range(len(lst_title)):
        if column == lst_title[i]:
            df_test[lst_title[i]] = df_test[lst_title[i]].map(lst_dict_to_num[i])

In [ ]:
for column in df:
    df.loc[df[column] == 'NA', column] = 0
for column in df_test:
    df_test.loc[df_test[column] == 'NA', column] = 0

In [ ]:
neighborhood = ['Blmngtn', 'Blueste', 'BrDale', 'BrkSide', 'ClearCr', 
                'CollgCr', 'Crawfor', 'Edwards', 'Gilbert', 'IDOTRR',
                'MeadowV', 'Mitchel', 'Names', 'NoRidge', 'NPkVill', 
                'NridgHt', 'NWAmes', 'OldTown', 'SWISU', 'Sawyer', 
                'SawyerW', 'Somerst', 'StoneBr', 'Timber', 'Veenker']

In [ ]:
for i in neighborhood:
    s = []
    for j in range(len(df.index)):
        if df.loc[j,'Neighborhood'] == i:
            s.append(1)
        else:
            s.append(0)
    df[i] = pd.Series(s)
del df['Neighborhood']
for i in neighborhood:
    s = []
    for j in range(len(df_test.index)):
        if df_test.loc[j,'Neighborhood'] == i:
            s.append(1)
        else:
            s.append(0)
    df_test[i] = pd.Series(s)
del df_test['Neighborhood']

In [ ]:
for column in df:
    if (df[column]).dtype == object or (df[column]).dtype == None:
        del df[column]
    else:
        df[column].astype(np.float64)
for column in df_test:
    if (df_test[column]).dtype == object or (df_test[column]).dtype == None:
        del df_test[column]
    else:
        df_test[column].astype(np.float64)

In [ ]:
col = list(df.columns)
col.remove('SalePrice')
col.remove('Id')
col1 = list(df_test.columns)
col1.remove('Id')

In [ ]:
for columns in df:
    if columns in list(df_test.columns) or columns == 'SalePrice':
        df[columns] = df[columns]
    else:
        del df[columns]
for columns in df_test:
    if columns not in list(df.columns):
        del df_test[columns]

In [ ]:
target = df['SalePrice']

In [ ]:
df_train = df.copy()
del df_train['SalePrice']

In [ ]:
X = np.array(df_train)
y = target
Z = np.array(df_test)

In [ ]:
lm = linear_model.LinearRegression()

In [ ]:
model = lm.fit(X,y)

In [ ]:
predictions = lm.predict(X)

In [ ]:
print(predictions)

[211588.42500872 238201.23264893 216331.10882483 ... 268990.06215838
 147197.59388493 157343.55342574]

In [ ]:
lm.score(X,y)

0.8565353720662391

In [ ]:
predictions_test = lm.predict(Z)

In [ ]:
result = pd.DataFrame(df_test['Id'])

In [ ]:
result['SalePrice'] = np.array(predictions_test)

In [ ]:
result.head()

     Id      SalePrice
0  1461  119076.732673
1  1462  157157.979502
2  1463  174197.741387
3  1464  187664.231296
4  1465  234593.390265

In [ ]:
result = result.to_csv('result.csv')